body{  
  font-family: Arial, Segoe UI, Microsoft Sans Serif;  
  background-color: #add8e6;  
}  
.container {  
    padding: 50px;  
  background-color: #ff0000;  
}  

  
input[type=text], input[type=password], textarea {  
  width: 100%;  
  padding: 15px;  
  margin: 5px 0 22px 0;  
  display: inline-block;  
  border: none;  
  background: #f1f1f1;  
}  
input[type=text]:focus, input[type=password]:focus {  
  background-color: yellowgreen;  
  outline: none;  
}  
 div {  
            padding: 10px 0;  
         }  
hr {  
  border: 1px solid #f1f1f1;  
  margin-bottom: 25px;  
}  
.registerbtn {  
  background-color: #3cb371;  
  color: white;  
  padding: 16px 20px;  
  margin: 8px 0;  
  border: none;  
  cursor: pointer;  
  width: 100%;  
  opacity: 0.9;  
}  
.registerbtn:hover {  
  opacity: 1;  
}  

button {
  cursor: pointer;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.25));
  border: 1px solid white;
  font-size: 16px;
  text-transform: uppercase;
  width: 80px;
  padding: 10px 0;
  margin-top: 10px;
  margin-left: -5px;
  border-radius: 5px;
  color: white;
}
button:hover{
    transform: scale(.975);
}
