body {
  --primary: linear-gradient(90deg, #7f00ff 0%, #e100ff 100%);
  background: var(--primary);
}
.login {
  overflow: hidden;
  background-color: whitesmoke;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 400px;
  width: 75%;
  transform: translate(-50%, -50%);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  background-size: 400% 400%;
  animation: movegrad 15s ease infinite;
}
@keyframes movegrad {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.login h1 {
  color: white;
}
input[type="text"],
input[type="password"] {
  display: block;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  border: 0;
  padding: 10px 10px;
  margin: 15px -10px;
}
.button {
  cursor: pointer;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.25));
  border: 1px solid white;
  font-size: 16px;
  text-transform: uppercase;
  width: 80px;
  padding: 10px 0;
  margin-top: 10px;
  margin-left: -5px;
  border-radius: 5px;
  color: white;
}
.button:hover{
    transform: scale(.975);
}